#root {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

html, body {
  margin: 0 auto;
  text-align: center;

  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}
