#root {
  background-color: rgba(105, 122, 177, 0.55);

  min-height: 100vh;
}

html, body {
  margin: 0 auto;
  text-align: center;

  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  box-shadow:   0 0 15px rgba(0, 0, 0, 0.87);
  padding-top: 30px;
  border-radius: 15px;
  background-color: rgba(71, 88, 140, 0.93);

}


.main-wrapper{
  background-image:  url(https://34travel.me/media/upload/images/2021/JULY/odessa/IMG_0707%C2%A0%E2%80%94%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

