#root {
  background-color: rgba(42, 46, 51, 0.66);
  padding-top: 30px;

  min-height: 100vh;
}

html, body {
  margin: 0 auto;
  text-align: center;

  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  box-shadow:   0 0 15px rgba(0, 0, 0, 0.87);
  padding-top: 30px;
  border-radius: 15px;
  background-color: rgba(105, 122, 177, 0.55);

}
